.tabla {
  border-collapse: collapse;
  margin: 20px;
  float: left;
}

td {
  border: 1px solid black;
  text-align: center;
  width: 30px;
  height: 30px;
}

.cabeza {
  background-color: #dab744;
}

.cuerpo {
  background-color: #dbc066;
}

.manzana{
  background-color: red;
}
